<div id="comp-kjj94cad1" class="_3Fes4 comp-kjj94cad1-container">
    <div class="_2l-6d"></div>
    <div id="comp-kjj94caz" class="_3Fes4 comp-kjj94caz-container">
      <div class="_2l-6d"></div>
        <div id="comp-kjj94cbb1" data-testid="imageX" class="_1x22G">
           <style data-testid="scrollEffectStyle">#comp-kjj94cbb1 img { height:20%}</style>
           
            <div id="img-comp-kjj94cbb1" data-image-info="{&quot;containerId&quot;:&quot;comp-kjj94cbb1&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;parallaxSpeed&quot;:1.5,&quot;sourceSets&quot;:[],&quot;imageData&quot;:{&quot;uri&quot;:&quot;f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg&quot;,&quot;width&quot;:8000,&quot;height&quot;:4500,&quot;alt&quot;:&quot;&quot;,&quot;focalPoint&quot;:null}}" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg/v1/fill/w_397,h_917,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg">
                <picture>
                    <img src="https://static.wixstatic.com/media/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg/v1/fill/w_397,h_917,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg" alt="" style="object-fit: cover; object-position: 50% 50%; width: 100%;">
                </picture>
            </div>
          
           
        </div>
        <div id="comp-kjj94cbe" data-testid="imageX" class="_1x22G">
            <style data-testid="scrollEffectStyle">#comp-kjj94cbe img { max-width:500px;}</style>
            
            <picture id="img-comp-kjj94cbb1" data-image-info="{&quot;containerId&quot;:&quot;comp-kjj94cbb1&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;parallaxSpeed&quot;:1.5,&quot;sourceSets&quot;:[],&quot;imageData&quot;:{&quot;uri&quot;:&quot;f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg&quot;,&quot;width&quot;:8000,&quot;height&quot;:4500,&quot;alt&quot;:&quot;&quot;,&quot;focalPoint&quot;:null}}" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg/v1/fill/w_397,h_917,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f8eba5_460d0bdab99f487188a17916c22a9abe~mv2.jpg">
                <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/277757469_5237530859643644_1570200259657166392_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=rEEpuK4g0DQAX-HcXd5&_nc_ht=scontent.faep9-1.fna&oh=00_AT_hl5Q9dfcIEXbWX7_WV-_qOnJt8m04SUU3mQ1d14DsyQ&oe=6276C1F3" alt="" style="object-fit: cover; object-position: 50% 26%; width: 100%;">
            </picture>
            
        </div>
    </div>
    <div id="comp-kjj94cbg1" class="_3Fes4 comp-kjj94cbg1-container">
        <div class="_2l-6d"></div>
        <div id="comp-kjj94cbi3" class="_3Fes4 comp-kjj94cbi3-container">
            <div class="_2l-6d">
                <div id="comp-kjj94cbq" class="_1Q9if" data-testid="richTextElement">
                    <h1 class="font_4">Let's Chat!</h1>
                </div>
                <div id="comp-kjj94cbv3" class="_1Q9if" data-testid="richTextElement">
                    <p class="font_8">Originally from Mumbai, Bhroovi Gupta is a Graphic, UI UX and Motion designer with a passion for technology and interactive experiences. Along with completing her BFA at KU, her past experiences range from UI/UX design at 
                        <span style="text-decoration:underline;">
                            <a href="http://wix.com" target="_blank" rel="noreferrer noopener">WiX.com,</a>
                        </span>&nbsp; Art Direction at&nbsp;
                        <span style="text-decoration:underline;">
                            <a href="https://www.vmlyr.com/?gclid=Cj0KCQjwxtSSBhDYARIsAEn0thTCg_ls9YcY7FUtDAFe1Zg6671W6ku4nNKRPETS3ifhc5xZ70UjkroaAms-EALw_wcB" target="_blank" rel="noreferrer noopener">VMLY&amp;R,</a>
                        </span>&nbsp;Motion Graphics&nbsp;at&nbsp;
                        <span style="text-decoration:underline;">
                            <a href="https://nativedigital.com/" target="_blank" rel="noreferrer noopener">Native Digital,</a>
                        </span> 
                        <a href="https://nativedigital.com/" target="_blank" rel="noreferrer noopener">&nbsp;</a>
                        <a href="https://whiskeydesign.com/" target="_blank" rel="noreferrer noopener">Brand Identity and packaging at&nbsp;</a>
                        <span style="text-decoration:underline;">
                            <a href="https://whiskeydesign.com/" target="_blank" rel="noreferrer noopener">Whiskey Design</a>
                        </span>
                        <a href="https://whiskeydesign.com/" target="_blank" rel="noreferrer noopener">&nbsp;</a>and finally, Campaign Design at 
                        <span style="text-decoration:underline;">
                            <a href="https://www.behance.net/KU-MarComm?isa0=1" target="_blank" rel="noreferrer noopener">MarComm at KU</a>
                        </span>.
                    </p>
                    <p class="font_8">&nbsp;</p>
                    <p class="font_8">Her work is bold and confident, often featuring typography at the forefront of her colorful designs and functional ideation. Coupled with her skills in motion, her interactive experiences are playful yet effective in bringing&nbsp;design concepts to life and enhancing the user experience.</p>
                    <p class="font_8">&nbsp;</p>
                    <p class="font_8">She’s often inspired by food plating techniques, nature and biomimicry and watches documentaries on NatGeo to spark her imagination. Bhroovi enjoys creating brands, websites, and interactive experiences that thoroughly surprise, delight, and provoke.</p>
                </div>
            </div>
        </div>
    </div>
</div>